<!-- swagger-upload.component.html -->
<div>
  <h2>Upload Swagger JSON/YAML </h2>
  <p> json/yaml file less than 100 kb limit for this POC</p>
  <p> NOTE : Do not upload sensitive data here</p>
  <p> Sample swagger yaml :
    <a
      href="https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml">Petstore.yaml</a>
  </p>
  <input type="file" (change)="onFileChange($event)" accept=".json">
  <button (click)="uploadSwagger()">Upload</button>
</div>

